<p>
  Se sei già registrato effettua il login per poter effettuare la prenotazione,
  altrimenti <a [routerLink]="['/reg']">registrati!</a>
</p>

<form (ngSubmit)="onLogin()">
  <label>Email</label>
  <input type="text" name="email" [(ngModel)]="email" required />
  <br>

  <label>Password</label>
  <input type="password" name="password" [(ngModel)]="password" required />
  <br>

  <button type="submit">Login</button>
</form>

<!-- Messaggio di errore -->
<div *ngIf="errorMessage" style="color: red;">
  {{ errorMessage }}
</div>
