<div class="logo">
  <img src="../../../assets/logo.jpg"  class="logo">
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/specialita']">Specialità</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']">Prenotazione</a>
      </li>
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>


<div class="footer">
  <ul>
    <li>
      Contatti: 2002 07 234
    </li>
    <li>
      Info: irisfish&#64;gmail.com
    </li>
  </ul>
</div>