.font{
    size:"6";
    font-family:"Times New Romans"
}

.red{
    color:red;
}

.centrale {
    margin-left: auto;
    margin-right: auto;
    display: table; /* Mantenere il comportamento tabella */
}