<!--
<form action="http://localhost:8080/prenotazione" method="POST">

        <div class="centrale">
            <table>
                <tr>
                    <td>
                        <br>
                        <h1>Prenota subito un appuntamento nel nostro ristorante!</h1>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="font" ><I>Noi provvederemo a contattarvi il prima possibile per la conferma.</I></div>
                    </td>					
                </tr>
                <tr>
                    <td>
                        I campi contrassegnati con <div class="red">*</div> sono obbligatori.
                    </td>
                </tr>
                <tr>
                    <td>
                        NOME <div class="red">*</div>
                    </td>
                    <td>
                        COGNOME<div class="red">*</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="">
                    </td>
                    <td>
                        <input type="text" name="">
                    </td>
                </tr>
                <tr>
                    <td>
                        DATA DI PRENOTAZIONE<div class="red">*</div>
                    </td>
                    <td>
                        PERSONE <div class="red">*</div>
                    </td>
                </tr>			
                <tr>
                    <td>
                        <input type="date" name="data">
                    </td>
                    <td>
                        <input type="text" name="">
                    </td>
                </tr>
                <tr>
                    <td>
                    ORA
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="ora" value="Pranzo"> Pranzo 
                        <input type="radio" name="ora" value ="Cena"> Cena
                    </td>
                    <td></td>
                </tr> 
                <tr>
                    <td>
                        TELEFONO <div class="red">*</div>
                    </td>	
                </tr>
                <tr>
                    <td>
                        <input type="text" name="">
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>
                        EVENTUALI RICHIESTE PARTICOLARI 
                    </td>
                </tr>
                <tr>
                    <td>
                        <textarea name="richieste" rows="15" cols="90"></textarea>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="INVIA PRENOTAZIONE">
                    </td>
                </tr>
            </table>
        </div>
		<br><br><br>

</form>
-->




<form (ngSubmit)="inviaPrenotazione()" #f="ngForm">
  <label>Nome *</label>
  <input type="text" name="nome" [(ngModel)]="prenotazioneDTO.nome" required><br>

  <label>Cognome *</label>
  <input type="text" name="cognome" [(ngModel)]="prenotazioneDTO.cognome" required><br>

  <label>Data di prenotazione *</label>
  <input type="date" name="dataPrenotazione" [(ngModel)]="prenotazioneDTO.dataPrenotazione" required><br>

  <label>Persone *</label>
  <input type="number" name="nPersone" [(ngModel)]="prenotazioneDTO.nPersone" required><br>

  <label>Ora *</label>
  <input type="radio" name="pasto" value="Pranzo" [(ngModel)]="prenotazioneDTO.pasto" required> Pranzo
  <input type="radio" name="pasto" value="Cena" [(ngModel)]="prenotazioneDTO.pasto"> Cena<br>

  <label>Telefono *</label>
  <input type="text" name="telefono" [(ngModel)]="prenotazioneDTO.telefono" required><br>

  <label>Richieste particolari</label><br>
  <textarea name="note" [(ngModel)]="prenotazioneDTO.note" rows="4" cols="50"></textarea><br><br>

  <button type="submit" [disabled]="!f.valid">Invia Prenotazione</button>
</form>

<a [routerLink]="['/registro-prenotazioni']">Prenotazioni Effettuate</a>
<router-outlet></router-outlet>