<html>
	<head>
		<title> Iris Fish </title>
	</head>
	
	<body>
        <div class="centrale">
            <table>
                <tr>
                    <td>
                        <div class="c">
                            <I><B>ANTIPASTI</B></I><br>
                            <I>Crudi</I><br>
                        </div>
                        <I><B>Tagliatelle di seppia</B></I><br>
                        <I><B>Ostriche</B></I><br>
                        <I><B>Gamberi sale e pepe</B></I><br>
                        <div class="c">			
                            <I>Caldi</I><br>
                        </div>	
                        <I><B>Cozze al basilico</B></I>: cozze, pomodori, basilico e peperoncino piccante<br>
                        <I><B>Sarde ripiene</B></I>: sarde, uova, pane, pecorino, prezzemolo, limone e pepe<br>
                        <I><B>Polpette di baccalà </B></I>: baccalà, pane, uova, farina, prezzemolo e pepe<br>
                    </td>
                    <td>
                        <IMG src="../../../assets/antipasti.jpg"  width="50%">
                    </td>
                </tr>
                <tr>
                    <td>
                        <IMG src="../../../assets/primi.png"  width="50%">
                    </td>
                    <td>
                        <div class="c">	
                            <I><B>PRIMI</B></I><br>
                        </div>
                        <I><B>Pasta al sugo di baccalà </B></I>: linguine, baccalà, pomodori, pane e pepe nero<br>
                        <I><B>Pasta alla marinara </B></I>: spagheti, pomodori, alici, peperoncino piccante e origano <br>
                        <I><B>Pasta alla bottarga</B></I>: spaghetti, bottarga di tonno, capperi e pepe nero<br>
                        <I><B>Pasta con le sarde</B></I>: bucatini, sarde, pomodori, cipolla e pepe nero  <br>
                        <I><B>Pasta, finocchio selvatico e alici</B></I>: penne, alici, finocchio selvatico e pecorino<br>
                        <I><B>Tubbetti, baccalà e broccoli di rape</B></I>: pasta, broccoli di rape, baccalà, acciughe, cipollotti, origano e peperoncino <br>
                        <I><B>Zuppa di cipolla e pane</B></I>: cipolle, pane, peperoncini piccanti e strutto <br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="c">	
                            <I><B>SECONDI</B></I><br>
                        </div>
                        <I><B>Alici alla maniera di San Lucido</B></I>: alici, lardo e origano <br>
                        <I><B>Alici piccanti al forno</B></I>:  alici, pomodori, pecorino e peperoncino piccante<br>
                        <I><B>Alici scattiate</B></I>: alici, pomodori, peperoncino piccante, origano e aceto bianco<br>
                        <I><B>Baccalà alla maniera di Acri</B></I>: baccalà, peperoni secchi e origano <br>
                        <I><B>Pesce spada con olive e capperi</B></I>: pesce spada, cipolla, pomodori, olive nere e capperi<br>
                        <I><B>Tonno alla calabrese</B></I>: tonno, pomodori, funghi, uova, cipolla e pepe nero<br>
                        <I><B>Zuppa di pesce alla maniera di Crotone</B></I>: pesce misto, alghe aromatiche, pomodori e conserva di peperoni<br>
                    </td>
                    <td>
                        <IMG src="../../../assets/secondi.png"  width="50%">
                    </td>
                </tr>
                <tr>
                    <td>
                        <IMG src="c../../../assets/contorni.jpg"  width="50%">
                    </td>
                    <td>
                        <div class="c">	
                            <I><B>CONTORNI</B></I><br>
                        </div>
                        <I><B>Fave con salsa all'aceto</B></I>: fave, pane, pecorino, menta e aceto <br>
                        <I><B>Insalata di melanzane, patate e cipolle</B></I>: melanzane, patate, cipolla, menta, aceto e pepe <br>
                        <I><B>Melanzane con ricotta affumicata</B></I>: melanzane, ricotta affumicata, pomodori, origano e pepe <br>
                        <I><B>Zucchine alla scapece</B></I>: zucchine, pane, menta, aceto e pepe <br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="c">	
                            <I><B>DOLCI</B></I><br>
                        </div>
                        <I><B>Anime beate</B></I><br>
                        <I><B>Cannaricoli</B></I><br>
                        <I><B>Dolce con fichi e nocciole</B></I><br>
                        <I><B>Scalille</B></I><br>
                    </td>
                    <td>
                        <IMG src="../../../assets/dolci.jpg"  width="50%">
                    </td>
                </tr>
                <tr>
                    <td>
                        <IMG src="../../../assets/vini.jpg"  width="50%" height="80%">
                    </td>
                    <td>
                        <div class="c">	
                            <I><B>VINI</B></I><br>
                        </div>
                        <I><B>San Vito di Luzzi</B></I><br>
                        <I><B>Bivongi</B></I><br>
                        <I><B>Melissa</B></I><br>
                        <I><B>Greco di bianco</B></I><br>
                    </td>
                </tr>
            </table>
        </div>
	</body>
</html>
