<!-- <br>
<div class="posto">
	<img src="../../../assets/posto.png">
</div>


<I><h2>Chi siamo</h2></I>
<p>
	Il nostro ristorante a conduzione familiare è lieto di accogliervi per farvi gustare le migliori specialità a base di pesce della nostra terra.<br>
	Gli spazi, i colori e i sapori sono perfetti per emozionarsi in una cena romantica, per trascorrere una piacevole serata con amici 
	o per un fugace pranzo di lavoro.<br>
	Da sempre Iris Fish mette al centro dell’attenzione la cura del cliente e la tradizionale cucina 
	a base di pesce fresco, il tutto accompagnato dai vini della nostra regione.<br>
	Aperti pranzo e cena.<br><br>
</p>


<I><h2>Dove ci troviamo</h2></I>
<p>
	L'Iris Fish si trova a Bagnara Calabra (RC) in via Rocchi. Il ristorante si affaccia sul mare, nelle vicinanze possiamo trovare il porto 
	e la Torre Aragonese Capo Rocchi Ruggiero, inoltre a pochi chilometri possiamo trovare il Parco Nazionale dell'Aspromonte. <br><br><br>
</p>
<div class="cartina">
	<img src="../../../assets/cartina.PNG">
</div>
<br>
-->


  <div class="posto">
    <img src="../../../assets/posto.png" alt="Posto Iris Fish">
  </div>

  <h2><i>Chi siamo</i></h2>
  <p>
    Il nostro ristorante a conduzione familiare è lieto di accogliervi per farvi gustare le migliori specialità a base di pesce della nostra terra.
    Gli spazi, i colori e i sapori sono perfetti per emozionarsi in una cena romantica, per trascorrere una piacevole serata con amici 
    o per un fugace pranzo di lavoro.
    Da sempre Iris Fish mette al centro dell’attenzione la cura del cliente e la tradizionale cucina 
    a base di pesce fresco, il tutto accompagnato dai vini della nostra regione.
    Aperti pranzo e cena.
  </p>

  <h2><i>Dove ci troviamo</i></h2>
  <p>
    L'Iris Fish si trova a Bagnara Calabra (RC) in via Rocchi. Il ristorante si affaccia sul mare, nelle vicinanze possiamo trovare il porto 
    e la Torre Aragonese Capo Rocchi Ruggiero, inoltre a pochi chilometri possiamo trovare il Parco Nazionale dell'Aspromonte.
  </p>

  <div class="cartina">
    <img src="../../../assets/cartina.PNG" alt="Mappa Iris Fish">
  </div>

