/* You can add global styles to this file, and also import other style files */
body {
	background-color:#DBFFFC;
	font-family: "Times New Roman", Arial,Verdana;
	}

h1 {font-family:"Times New Roman",Arial,Verdana;
        font-size:160%;
   }
   
h2 {font-family:"Times New Roman",Arial,Verdana;
    font-size:200%;
    }

.navbar {
    background-color: #80DFFF !important; // Override Bootstrap
    
    }
    
.navbar-nav li {
    display: inline !important; // Override Bootstrap
    font-size: 150% !important;
    padding-left: 60% !important;
    padding-right: 50% !important;
    }
    
.navbar-nav a {
    text-decoration: none;
    color: #0000BD !important; // Link non visitati
    }
    
.navbar-nav a:visited {
    color: #3366FF !important;
    }

.logo{
    height:40%;
    width:50%;
    margin-left: 23%;
	margin-right: 27%;
}

.footer {background-color:#80DFFF;
    color:#0000BD;
    font-size:120%;
    }

.footer li{
    display: inline;
    padding-left: 15%;
    padding-right: 15%;
} 